header {
    background-color: #06131f;
    height: 100px;
    display: flex;
    align-items: center;
}

header img {
    height: 60px;
    width: 60px;
    margin-left: 6rem;
}

main {
    height: calc(100vh - 100px);
    background-color: #1d2d3c;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.col-cs {
    width: calc(100% / 3 - 80px);
    margin-top: 3rem;
}

div.card-item {
    background-color: #112030;
    padding: 1.5rem 0;
    border-radius: .44rem;
    cursor: pointer;
}

div.col-cs img {
    height: 230px;
    width: 230px;
}

div.container-card-disactivated {
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(17, 32, 49, 0.9);
    height: 100vh;
    width: 100%;
}

div.container-card-disactivated div.card-item {
    display: none;
}

div.container-card-disactivated div.card-item.active {
    display: block;
}